/* Définition de la police personnalisé */

@font-face
{
    font-family: 'Raleway';
    src: url('police\Raleway.ttf');
    font-weight: normal;
    font-style: 'normal';
}

/* Body et elements globaux */

body
{
    font-family: 'Raleway';
    background-color: white;
}

/* Header */

header
{
    display: flex;
    color: #0065FC;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 0.8em;
    
}

#logo
{
    display: flex;
    flex-direction: row;
}

#logo img
{
    display: flex;
    width: 190px;
    height: 90px;
    flex-direction: row;

}
/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
    align-self: flex-end;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #0065FC;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* Section de page haut */

#sectiondepagehaut
{

}

h1, h2
{
    font-size: 1.5em;
    color: black;
}
#modulederecherche
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: right;
    flex-basis: 10%;
}
#modulederecherche a
{
    background-color: #0065FC;
    border-radius: 0px 8px 8px 0px;
    text-align: center;
    margin: 16px 0px 16px 0px;
    padding: 5px 11px 0px 5px;
    font-size: 0.9em;
    text-decoration:none;
    color: white;
    

}
#logordv
{
    display: flex;
    padding: 6px 5px 0px 5px;
    background-color: #F2F2F2;
    border-radius: 8px 0px 0px 8px;
    margin: 16px 0px 16px 0px;
}
/* Section */

/* Article */

/* Aside */

/* Section Bas */

/* Footer */