/* Définition de la police personnalisé */

@font-face
{
    font-family: 'Raleway';
    src: url('police/Raleway.ttf');
    font-weight: normal;
    font-style: 'normal';
}

/* Body et elements globaux */

body
{
    font-family: 'Raleway';
    background-color: white;
}

/* Header */

header
{
    display: flex;
    color: #0065FC;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    font-size: 0.8em;
    
}

#logo
{
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 10%;
    margin-left: 4%;
}
/* Navigation */

nav
{
    margin-top: 2%;
}

nav ul
{
    list-style-type: none;
    display: flex;
    align-self: flex-end;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #0065FC;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* Section de page haut */

h1, h2
{
    font-size: 1.5em;
    color: black;
    margin-left: 4%;
}
#soustitre
{
    margin-left: 4%;
}
#modulederecherche
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: right;
    flex-basis: 10%;
    margin-left: 4%;
}
#modulederecherche a
{
    background-color: #0065FC;
    border-radius: 0px 8px 8px 0px;
    text-align: center;
    margin: 16px 0px 16px 0px;
    padding: 5px 11px 0px 5px;
    font-size: 0.9em;
    text-decoration:none;
    color: white;
    

}
#logordv
{
    display: flex;
    padding: 6px 5px 0px 5px;
    background-color: #F2F2F2;
    border-radius: 8px 0px 0px 8px;
    margin: 16px 0px 16px 0px;
}
#lieu
{
    height: 25px;
}
#filtres
{
    display: flex;
    margin-left: 4%;
    flex-wrap: nowrap;
    max-width: 100%;
}
#filtres p
{
    position: flex;
    font-weight: bold;
}

#filtres ul
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    justify-content: space-between;
    width: 50%;
    margin: 0% 2% 0% 3%;
}

#filtres a
{
    text-decoration: none;
}

#filtres a:hover
{
    text-decoration: underline;
}


#filtres span
{
    margin: 5% 5% 5% 5%;
    border-radius: 10px;
    padding: 5% 8% 5% 25%;
    border: 3px #F2F2F2 solid;
    font-weight: bold;
}

#economique i
{
    position: relative;
    left: 26%;
    border: 10px #DEEBFF solid;
    background-color:#DEEBFF  ;
    color: #0065FC;
    border-radius: 50%;
    max-width: 50%;
    max-height: 50%;

}

#famillial i
{
    position: relative;
    left: 30%;
    top: 2%;
    border: 10px #DEEBFF solid;
    background-color:#DEEBFF  ;
    color: #0065FC;
    border-radius: 50%;
    width: 14%;
    height: 30%;
}

#famillial span
{
    margin-left: 10%;
}
#romantique i
{
    position: relative;
    left: 26%;
    border: 10px #DEEBFF solid;
    background-color:#DEEBFF  ;
    color: #0065FC;
    border-radius: 50%;
    width: 13%;
    height: 35%;

}

#animauxautorises i
{
    position: relative;
    left: 19%;
    bottom: 5%;
    border: 11px #DEEBFF solid;
    background-color:#DEEBFF  ;
    color: #0065FC;
    border-radius: 50%;
    width: 11%;
    height: 42%;

}
#animauxautorises span
{
    margin-left: 1%;
}
#logementdisponible
{
    margin-left: 4%;
}
#logementdisponible i
{
    color: white;
    background-color: #0065FC;
    border-radius: 50%;
    border: 2px #F2F2F2 solid;
}
    
/* Section */

section
{
    display:flex;
    justify-content: space-around;
}
section strong
{
    font-weight: bold;
    color: black;
}
section a
{
    text-decoration: none;
    color: gray;
}
section i
{
    color: #0065FC;
}
/* Article */

article
{
    display: flex;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    margin-top: 15px;
    padding: 5px 5px 5px 5px;
    flex-wrap: wrap;
    max-width: 50%;
    height: 580px;
    justify-content:space-around;
}
article h2
{
    display: block;
    width: 100%;
    height: 2%;
    margin-left: 25px;
}

.propositionhebergement
{
    background-color: white;
    flex-direction: column;
    padding: 5px 5px 5px 5px;
    margin: 5px;
    order: 1;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #F2F2F2;
    width: 28%;
    height: 35%;
}
.propositionhebergement img
{
    height: 62%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
#afficherplus
{
    display: absolute;
    order: 2;
    width: 99.5%;
    height: 33px;
    font-weight: bold;
    color:black;
    margin-left:25px;
}

/* Aside */

aside
{
    background-color: #F2F2F2;
    border-radius: 10px 10px 10px 10px;
    margin-top: 15px;
    padding: 5px 5px 5px 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 582px;
    max-width: 35%;
}
aside h2
{
    height: 20px;
    width: 80%;
    margin-left: 25px;
}
#iconelespluspopulaires
{
    display: flex;
    position: relative;
    left: 88%;
    bottom: 6%;
    height: 5%;
    width: 5%;
}
.propositionlespluspopulaires
{
    display: flex;
    background-color: white;
    order: 1;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 10px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #F2F2F2;
    width: 90%;
    height: 21%;
}
.propositionlespluspopulaires img
{
    height: 100%;
    width: 35%;
    border-radius: 15px 0px 0px 15px;
    object-fit: cover;
}
/* Section Bas */

#sessiondepagebas
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    height: 580px;
}

#sessiondepagebas a
{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
#sessiondepagebas p
{
    padding-left: 25px;
}
#vieuxport
{
    display: flex;
    background-color: white;
    flex-direction: column;
    order: 1;
    margin: 5px 5px 5px 4%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #F2F2F2;
    width: 19%;
    height: 90%;
}

#vieuxport img
{
    height: 90%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

#fortdepomegues
{
    display: flex;
    background-color: white;
    flex-direction: column;
    order: 2;
    margin: 5px 5px 5px 10px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #F2F2F2;
    width: 19%;
    height: 45%;
}
#fortdepomegues img
{
    height: 80%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

#parcnationaldescalanques
{
    display: flex;
    background-color: white;
    flex-direction: column;
    order: 4;
    margin: 5px 5px 5px 10px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #F2F2F2;
    width: 19%;
    height: 90%;
}

#parcnationaldescalanques img
{
    height: 90%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
#notredamedelagarde
{
    display: flex;
    background-color: white;
    flex-direction: column;
    order: 5;
    margin: 5px 5px 5px 10px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #F2F2F2;
    width: 19%;
    height: 35%;
}

#notredamedelagarde img
{
    height: 75%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

#ilesdufrioul
{   
    display: flex;
    background-color: white;
    flex-direction: column;
    order: 3;
    margin: 5px 5px 5px 10px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #F2F2F2;
    width: 19%;
    height: 35%;
}

#ilesdufrioul img
{
    height: 75%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

#parclongchamp
{
    display: flex;
    background-color: white;
    flex-direction: column;
    order: 6;
    margin: 5px 5px 5px 10px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #F2F2F2;
    width: 19%;
    height: 45%;
}

#parclongchamp img
{
    height: 80%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

/* Footer */

footer
{
    display: flex;
    background-color: #F2F2F2;
    flex-direction: row;
    justify-content: space-between;
    height: 15%;
}

footer a, ul, li
{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0 0 5px 0;
}

#apropos
{
    margin: 0 0 1% 2%;
}

#remplissage
{
    visibility: hidden;
}




@media all and (max-width: 480px)
{

    /* Header */
    header
    {
        display: flex;
        width: max-content; 
        flex-direction: column;
    }
    #logo
    {
        display: flex;
        flex-direction: row;
        height: 40%;
        width: 40%;
        margin-left: 4%;
    }
    /* Navigation */
    nav li
    {
        margin-right: 15%;
        justify-content: space-around;
    }
    nav a
    {
        font-size: 1.5em;
        margin-left: 15%;
    }
    h1
    {
        display: flex;
        width: auto;
        margin-left: 4%;
        font-size: 1.5em;
    }
    /* Section de page haut */
    #filtres
    {
        margin-left: 4%;
        flex-wrap: wrap;
    }
    #filtres ul
    {
        flex-wrap: wrap;
        white-space: wrap;
    }
    /* Section */
    section
    {
        display:flex;
        justify-content: space-around;
        flex-direction: column;
    }
    article
    {
        flex-wrap: wrap;
        max-width: 100%;
        height: auto;
        order: 2;
        background-color: white;
    }
    .propositionhebergement
    {
        width: 90%;
        height: 50%;
    }
    .propositionhebergement img
    {
        height: 150px;
        width: 100%;
    }
    #afficherplus
    {
        padding-top: 20px;
        font-size: 1.4em;
    }
    /* Aside */

    aside
    {
        max-width: 100%;
        height: auto;
        order: 1;
    }
    #iconelespluspopulaires
    {
        bottom: 35px;
    }
    .propositionlespluspopulaires
    {
        width: 80%;
        height: 50%;
    }
    .propositionlespluspopulaires img
    {
        height: 140px;
        width: 50%;
    }
}